@charset "UTF-8";

a#return{
	font-size: 2em;
}

/* プロフ */
#prof h1{
	font-size: 1.9em;
}

#prof #icon{
	width: calc(var(--margin-base) * 1.5);
}

#menu{
	gap: calc(var(--margin-base) * 0.7);
}

#menu a{
	font-size: 0.6em;
}

#menu a i{
	width: calc(var(--margin-base) * 1.5);
	height: calc(var(--margin-base) * 1.5);
	font-size: calc(var(--margin-base) * 0.6);
	line-height: calc(var(--margin-base) * 1.5);
}

/* ボックスの中 */
.box{
	padding:  calc(var(--margin-base) * 0.8) var(--margin-base);
}

.box p + h2,
.box ul + h2,
.box dl + h2{
	margin-top: 1.2em;
}

.box p + h3,
.box ul + h3,
.box dl + h3{
	margin-top: 2em;
}

.box > p{
	margin: 1.2em 0;
}

.box > div{
	margin: 1.4em 0;
}

dl,ul{
	margin: 1.2em 0;
	padding-left: 1.4em;
}

dt::before,
li::before{
	left: -1.4em;
}

ul.column2,
ul.column3{
	column-count: 1;
}

ul.m-column2{
	column-count: 2;
}

ul.m-column3{
	column-count: 3;
}



/* ↓イラスト */
#illustlog{
	gap: calc(var(--margin-base) * 0.5);
}

#illustlog .illust{
	width: calc(100% / 3 - var(--margin-base) * 0.5 * 3 / 4);
}

/* ↓オフライン */
.booklist{
	 flex-direction: column;
}

.book{
	width: 100%;
	padding: 0 0 calc(var(--margin-base) * 0.75) 0;
	border: none;
	border-bottom: solid 1px var(--color-accent);
}

.booklist div.book:last-child{
	padding: 0;
	border-bottom: none;
}

.book .gaiyou{
	gap: calc(var(--margin-base) / 2);
}

.book .gaiyou p{
	font-size: 0.9em;
	line-height: 1.5;
}

.book .gaiyou p.product{
	font-size: 0.7em;
	line-height: 1.3;
}